body{
	margin: 0;
}
.disappear{
   display: none;
}
.header{
	height: 100px;
	display: flex;
	border-bottom: 2px solid rgba(0, 0, 0, 0.085);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
}
.logo{
	width: 50px;
	height: 50px;
	margin: auto 0;
	margin-left: 3%;
}
.form{
	width: 36%;
	margin: 65px auto;
}
.form--title{
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}
.form__card{
	margin-top: 50px;
	border: 1px solid #000;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.form__card__item{
	margin: 15px auto;
	width: 80%;
}
.form__card>input{
	display: block;
	border-radius: 8px;
}
.form__card--nickname{
	margin-top: 60px;
	height: 50px;
}
.form__card--password{
	height: 56px;
}
.form__card--keep{
	cursor: pointer;
}
.form__card--keep>input{
	cursor: pointer;
}
.decrip{
   color: #00754A;      
   font-weight: 700;
   text-decoration: underline;
   position: relative;
}


.form__card--forgot>a{
	display: block;
	color: #00754A;
   font-weight: 700;
}
.form__card--forgot>a:last-child{
	margin-top: 10px;
}

.form__card--btn{
	width: 70px;
	height: 35px;
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 1px solid #00754A;
	border-radius: 32px;
	background-color: #00754A;
	color: #fff;
	font-weight: 700;
}

.decrip--more{
   width: 240px;
   position: absolute;
   bottom: 180%;
   left: 50%;
   margin-left: -120px;
	filter: drop-shadow(0px 0px 2px rgba(0,0,0, 0.34));
   border:1px solid snow;
   border-radius: 16px;
   color: #000;
   font-weight: normal;
   box-sizing: border-box;
   padding: 20px 20px 60px 20px;
   background-color: snow;
}
.decrip--more::before{
   content: "";
   position: absolute;
   top: 100%;
   left: 40%;
   padding-bottom: 0;
   border-top: 20px solid snow;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
}
.decrip--more>button{
   position: absolute;
   bottom: 15px;
   right: 15px;
   border-style: none;
   background-color: snow;
   color: #00754A;
   font-size: 18px;
   font-weight: 700;
}




.more{
	width: 40vw;
   margin: auto;
   border: 1px solid #fff;
   border-radius: 16px;
   background-color: #00754A45;
   text-align: center;
}
.more>h4{
   color: #00754A;
   
}
.more>p{
   margin: 0 auto;
   width: 95%;
   font-size: 14px;
}
.more>button{
   margin: 20px 0 15px 0;
   width: 90px;
   height: 40px;
   border-radius: 32px;
   color: rgba(0, 117, 74, 0.8);
   font-weight: 700;
   border: 1px solid rgba(0, 117, 74, 0.8);
}

.footer{
	margin: 70px 0 30px 0;
	padding: 40px 30%;
	font-size: 14px;
	border-top: 2px solid rgba(0, 0, 0, 0.085);
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: space-around;
	font-family: arial,sans-serif;;
}


.visit>a{
	display: block;
	width: 130px;
	height: 40px;
	box-sizing: border-box;
	padding-top: 10px;
	border: 1px solid #00754A;
	border-radius: 32px;
	color: #00754A;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}
.info>a{
	display: block;
	margin: 10px 0;
	color: #000;
	text-decoration: none;
}



@media screen and (max-width: 500px){
	.form{
	  width: 90%;
	}
	.form--title{
	  font-size: 24px;
	}
	.form__card{
	  border-style: none;
	  height: 57vh;
	}
	.form__card--btn{
	  width: 100px;
	  height: 50px;
	  font-size: 20px;
	  right: 10px;
	  bottom: 10px;
	}
	
	
	
	
	
	
	
	
	
	
	
	.more{
		width: 90vw;
	}
   
   
   
   
   
   
   
   
   
   
   
	

	.footer{
	   padding-left: 30px;
	   display: block;
	}
	.visit{
	   padding-top: 25px;
	   margin-bottom: 30px;
	}
	.info>a{
	   display: block;
	   margin: 10px 0;
	   color: #000;
	   text-decoration: none;
	}
	.company{
	   margin-top: 20px;
	}

}
